.container{
    margin-bottom: 80px;
}
.bg-color{
    background-color: #fceae8;
}
.carousel-area{
    border-radius: 10px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(180deg, #fceae8,#ff136f);
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.carousel-item{
    padding: 20px 40px;
}
.cat1, .cat2, .cat3{
    padding: 10px 20px;
    border-radius: 10px ;
    margin-bottom: 20px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: #ff136f;
}
.cat3{
    background-color: blue;
}
.category h1{
    color: white;
}
.category img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
.card-footer{
    border: none;
    background-color: white;
}
#subscribe{
    background-image: url("panda-commerce/banner-images/subscribe\ bg.jpg");
    background-position: top right;
    height: 300px;
    border-radius: 5px 200px;
}
#subscribe p{
    color: gray;
}
footer{
    text-align: right;
}